.color-teal{
    color: teal;
}
.icon-lg{
    font-size: 50px;
}
.icon-sm{
    font-size: 25px;
}
.remove-text-decoration{
   
    text-decoration: none;
}
.remove-bullet{
    list-style-type: none;
}
.cards{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    transition: box-shadow 0.3s ease;
}
.cards:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}
/* Base style for the icons */
.social-icons  {
  color: #333; /* Original color */
  font-size: 24px;
  transition: all 0.3s ease; /* Makes the change smooth */
  text-decoration: none;
  margin: 0 10px;
}

/* Hover effect */
.social-icons :hover {
  color: #007bff; /* Changes color to blue on hover */
  transform: translateY(-5px); /* Moves the icon up slightly */
}
